<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!--property name="filePath" source="filePath" value = "/opt/MicroServices/logs" />-->
	<!-- Console Appender -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d] [%X{userId}] [SCHEDULER] [%p] [%class{36}.%M] - %m%n </pattern>
		</encoder>
	</appender>
	<root level="DEBUG">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>